{% extends '_base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid" style="padding: 3rem 2rem;">
    <div class="container">    
        <form action="{{ url_for('result') }}" method="get">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" id="searchBox">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="button-addon2">
                            <i class="fas fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container">    
        <!-- <small>Sekitar {{ lenResult }} hasil ({{totalTime}} detik)</small> -->
    </div>
</div>
<div class="container"> 
    <h4><i class="fas fa-quran"></i> Kitab:</h4>
    <h2><a href="">{{ namakitab }}</a></h2> 
    <h4><i class="fas fa-stream"></i> Halaman:</h4>
    <h2>{{halaman}}</h2> 
    <h4><i class="fas fa-copy"></i> Isi:</h4>
    <h3>{{isikitab}}</h3> 
</div>
{% endblock %}